<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lostfound.dao.MessageMapper" >
    <select id="allMySession" resultType="string">
        select DISTINCT chat_session_id from t_message test
        where type = 1 and (test.too = #{userId} or test.froms = #{userId});
    </select>
    <select id="queryUsersChatMe" resultType="integer">

    </select>

</mapper>
